<mat-card class="example-card" routerLink="/portal/product-details/{{product._id}}">
  <mat-card-header>

    <div mat-card-avatar class="example-header-image" matTooltip="{{product.user.firstname}} {{product.user.lastname}}">
      <img mat-card-image src="{{product.user.profileImage}}" alt="profile image">
    </div>
    <mat-card-title>{{product.name | uppercase}}</mat-card-title>
    <mat-card-subtitle>Auction ends: {{product.endDate | date: 'dd/MM/yyyy'}}</mat-card-subtitle>
  </mat-card-header>


  <img *ngIf="product.images && product.images.length > 0" mat-card-image src="{{product.images}}">

  <mat-card-content>
    <h3>{{this.currentPrice}} DKK</h3>
    <p>
      {{product.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button color="primary">View product</button>
  </mat-card-actions>
</mat-card>
