<div *ngIf="product">
  <h1>{{product.name}}</h1>
  <h2>{{this.currentPrice}} DKK</h2>
  <img src="{{product.images}}" class="productImage" *ngIf="product.images && product.images.length > 0">
  <p>{{product.description}}</p>
  <p>Location: {{product.location}}</p>
  <p>Auction ends: {{product.endDate | date: 'dd/MM/yyyy'}}</p>
  <small>Created: {{product.dateCreated | date: 'dd/MM/yyyy'}}</small>

  <p><span class="bidCount">{{this.bidCount}}</span> bids</p>

  <form [formGroup]="bidForm" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <input matInput type="number" placeholder="Bid" formControlName="bid">
    </mat-form-field>

    <button mat-raised-button color="primary" id="btnSubmitBid" [disabled]="isLoading">Submit bid</button>

    <mat-error *ngIf="this.bidForm.dirty && this.bidForm.controls.bid.value < this.bidAmount">The current minimum bid
      is: {{this.bidAmount}}</mat-error>
  </form>

  <button mat-stroked-button color="warn" *ngIf="isAdmin" class="btnDelete" (click)="deleteProduct()">Delete product</button>
</div>
